.partners-section {
    padding: 20px;
    text-align: center;
    border: 0.4px solid gray;
    margin-bottom: 10px;
  }
  
  .partners-container {
    background-color: black;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .partners-title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  .partner-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
  .partner-img {
    width: 50%;
    height: auto;
    object-fit: contain;
  }
  @media (min-width: 768px) {
    .partner-grid {
      grid-template-columns: 1fr 1fr;
    }
    .partner-logo {
      width: 50%;
    }
  }
  @media (min-width: 1024px) {
    .partner-grid {
      padding-top: 30px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .partner-logo {
      width: 80%;
    }
  }